.experiencia-1 {
    max-width: 510px;
    margin: 0 auto;
    padding: 4rem 0;
    
}

.texto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}