@font-face {
    font-family:portada;
    src: url("../../../public/fonts/Tattoo\ Shop.otf");
}

.titulo-img {
    background-size: 100% 100%;
    background-image: url("../../../public/imagenes/Imagen\ pagina\ web-04.jpg");
    
    
    background-position: center center;
    aspect-ratio: 8/5;
    width: 100%;
    height: auto;
  
    
}

.titulo > h1 {
    position: absolute;
    top: 36%;
    color: rgb(236, 236, 236);
    width: 100%;
    text-align: center;
    pointer-events: none;
    font-family: portada;
    /* top: calc(100vw *0.5); */

}

.titulo > h2 {
    position: absolute;
    top: 49%;
    color: rgb(236, 236, 236);
    width: 100%;
    text-align: center;
    pointer-events: none;
    font-family: portada;
}

.titulo > p {
    position: absolute;
    bottom: 26%;
    color: rgb(236, 236, 236);
    width: 100%;
    text-align: center;
    pointer-events: none;
    font-family: portada;
    display: none;
    

}


@media(min-width: 768px ) {
    .titulo > p {
        display: block;
    }
    
}